// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
$primary-color: #ffff;

@import "../../node_modules/bootstrap/scss/bootstrap";

@import 'nav';

.jumbotron {
    background-size: cover;
    background-image: url("../img/pirate-ship.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: $primary-color;
    text-align: center;
  }

.footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    display: block;
}
.img-fluid {
  padding-bottom: 20px;
}
h1 {
  font-family: cursive;
}